$primary-green: #14280F;
$accent-green: #7ACC1F;
$pill-green: #9DC98F;
$pill-orange: #FAD392;
$button-green: #65AA4F;
$shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);


body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
    box-sizing: border-box;
}